@font-face {
  font-family: '汉仪尚巍手书W';
  src: url('./汉仪尚巍手书W.ttf') format('truetype');
}

@font-face {
  font-family: '汉仪超粗宋简';
  src: url('./汉仪超粗宋简.ttf') format('truetype');
}

@font-face {
  font-family: '汉仪许静行楷W';
  src: url('./汉仪许静行楷W.ttf') format('truetype');
}

